@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.image-hero__container {
  @apply relative w-full grid grid-cols-1 justify-center items-center gap-12 p-12 bg-fixed bg-center bg-cover bg-no-repeat shadow-md;
  @apply md:grid-cols-2 md:gap-52;
  @apply xl:grid-cols-2 xl:gap-[34rem] xl:bg-contain;
  background-image: url("/assets/images/Duo.webp");
}

.image-hero__container::after {
  content: "";
  @apply absolute inset-0 bg-black bg-opacity-25;
  @apply md:hidden;
  @apply xl:hidden;
  z-index: 0; /* Asegúrate de que quede detrás del contenido */
}

.image-hero__container .image-hero__container--item {
  @apply flex flex-col justify-center items-center gap-8;
}

.image-hero__container .image-hero__container--item > h1 {
  @apply text-5xl font-bold text-center text-gray-50 z-10 drop-shadow-sm;
  @apply md:font-semibold md:text-gray-950;
  @apply xl:font-semibold xl:text-gray-950;
}

.image-hero__container .image-hero__container--item > p {
  @apply text-xl font-normal text-center text-gray-100 z-10 drop-shadow-sm;
  @apply md:font-light md:text-gray-500;
  @apply xl:font-light xl:text-gray-500;
}

/* .image-hero__container {
  @apply relative flex w-full h-screen;
}

.half {
  @apply absolute flex flex-col gap-8 p-12 justify-center items-center top-0 h-full w-1/2 bg-fixed bg-center bg-cover hover:w-full;
  transition: width 0.5s ease-in-out;
}

.half > h1 {
  @apply text-3xl;
}

.half.left {
  @apply left-0;
  background-image: url("/assets/images/Color_4k.webp");
}

.half.right {
  @apply right-0;
  background-image: url("/assets/images/B&W_4k.webp");
}

.half.left:hover + .half.right {
  @apply w-0;
}

.half.right:hover + .half.left {
  @apply w-0;
} */
