@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.image-hero__container {
  @apply w-full h-[75vh] grid grid-cols-2 justify-center items-center gap-[34rem] px-12 bg-top bg-cover bg-no-repeat shadow-md;
  background-image: url("/assets/images/Duo.webp");
}

.image-hero__container .image-hero__container--item {
  @apply flex flex-col justify-center items-center gap-8;
}

.image-hero__container .image-hero__container--item > h1 {
  @apply text-5xl font-semibold text-center;
}

.image-hero__container .image-hero__container--item > p {
  @apply text-xl text-center text-gray-700;
}

/* .image-hero__container {
  @apply relative flex w-full h-screen;
}

.half {
  @apply absolute flex flex-col gap-8 p-12 justify-center items-center top-0 h-full w-1/2 bg-fixed bg-center bg-cover hover:w-full;
  transition: width 0.5s ease-in-out;
}

.half > h1 {
  @apply text-3xl;
}

.half.left {
  @apply left-0;
  background-image: url("/assets/images/Color_4k.webp");
}

.half.right {
  @apply right-0;
  background-image: url("/assets/images/B&W_4k.webp");
}

.half.left:hover + .half.right {
  @apply w-0;
}

.half.right:hover + .half.left {
  @apply w-0;
} */
