---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Brian Domínguez Vázquez">
  <div class="relative w-full h-screen flex overflow-hidden">
    <div
      class="absolute top-0 h-full w-1/2 bg-cover bg-center transition-all duration-500 ease-in-out left-0 bg-fixed"
      style="background-image: url('/assets/images/Color_4k.webp');"
    >
    </div>
    <div
      class="absolute top-0 h-full w-1/2 bg-cover bg-center transition-all duration-500 ease-in-out right-0 bg-fixed"
      style="background-image: url('/assets/images/B&W_4k.webp');"
    >
    </div>
  </div>

  <!-- <Separator text="Check out my projects" />
  <Projects /> -->
</Layout>
