---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Brian Domínguez Vázquez">
  <section class="image-hero__container">
    <div class="image-hero__container--item">
      <h1>UI/UX Design</h1>
      <p>
        Soy un diseñador de UI/UX apasionado por construir interfaces
        funcionales y visualmente atractivas. Mi portafolio refleja cómo combino
        creatividad y estrategia para resolver problemas reales de los usuarios.
      </p>
    </div>
    <div class="image-hero__container--item">
      <h1>Web Developer</h1>
      <p>
        Como desarrollador web, traduzco ideas en proyectos tangibles. Descubre
        cómo utilizo tecnologías modernas para crear sitios dinámicos, rápidos y
        optimizados para todo dispositivo.
      </p>
    </div>
  </section>

  <!-- <Separator text="Check out my projects" />
  <Projects /> -->
</Layout>
