---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Brian Dom칤nguez V치zquez">
  <section class="image-hero__container">
    <div class="image-hero__container--item">
      <h1>UI/UX Design</h1>
      <p>
        Soy un dise침ador de UI/UX apasionado por construir interfaces
        funcionales y visualmente atractivas. Mi portafolio refleja c칩mo combino
        creatividad y estrategia para resolver problemas reales de los usuarios.
      </p>
    </div>
    <div class="image-hero__container--item">
      <h1>Web Developer</h1>
      <p>
        Como desarrollador web, traduzco ideas en proyectos tangibles. Descubre
        c칩mo utilizo tecnolog칤as modernas para crear sitios din치micos, r치pidos y
        optimizados para todo dispositivo.
      </p>
    </div>
  </section>
  <section class="p-12 flex flex-col justify-center items-center gap-8">
    <h1 class="text-3xl font-semibold text-center">
      Algunos de mis 칰ltimos trabajos 游눺
    </h1>
    <Projects />
  </section>
  <!-- <Separator text="Check out my projects" />-->
</Layout>
