---
import PageHeading from '../components/page-heading.astro'
import PostsLoop from '../components/posts-loop.astro'
import Layout from '../layouts/main.astro'
---

<Layout title="博客">
  <section class="mx-auto max-w-4xl space-y-8 px-4 py-8 sm:px-6 lg:px-8">
    <PageHeading title="博客" />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
