---
const { text } = Astro.props;
---

<div class="relative my-20">
  <div class="relative w-full pl-5 overflow-x-hidden md:pl-0">
    <div
      class="absolute w-full h-px bg-gradient-to-r from-transparent to-white md:from-white dark:from-transparent dark:to-neutral-950 md:dark:from-neutral-950 md:via-transparent md:dark:via-transparent md:to-white md:dark:to-neutral-950"
    >
    </div>
    <div
      class="w-full h-px border-t border-dashed border-neutral-300 dark:border-neutral-600"
    >
    </div>
  </div>
  <p class="leading-none">{text}</p>
</div>
