---
import Logo from '../components/logo.astro'
import { Icon } from 'astro-icon/components'
---

<section
  class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-900 border-neutral-200 dark:border-neutral-800"
>
  <div class="container flex flex-col items-center py-8 mx-auto px-7 max-w-7xl sm:flex-row">
    <div class="-translate-y-[0.1rem]"><Logo /></div>
    <p
      class="mt-4 text-sm text-neutral-700 dark:text-neutral-100 sm:ml-4 sm:pl-4 sm:border-l sm:border-neutral-300 dark:sm:border-neutral-700 sm:mt-0"
    >
      © {new Date().getFullYear()} Aozaki
    </p>
    <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
      <a
        href="https://twitter.com/Aozaki__"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <Icon name="fa6-brands:twitter" title="Twitter" size={24} />
      </a>

      <a
        href="https://github.com/aozaki-kuro/"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <Icon name="fa6-brands:github" title="GitHub" size={24} />
      </a>

      <a
        href="https://t.me/aozaki_ch"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <Icon name="fa6-brands:telegram" title="Telegram" size={26} />
      </a>
    </span>
  </div>
</section>
