---
import menus from "../collections/menu.json";
import Logo from "../components/logo.astro";
---

<header
  id="header"
  class="fixed top-0 z-50 w-full h-20 bg-white/30 dark:bg-neutral-900/30 backdrop-blur-md shadow-md transition-all"
>
  <div
    class="flex items-center justify-between h-full max-w-7xl px-4 md:px-6 mx-auto border-b border-transparent select-none"
  >
    <Logo />

    <nav
      class="relative z-30 flex flex-row-reverse justify-start w-full text-sm sm:justify-end text-neutral-500 dark:text-neutral-400 sm:flex-row"
    >
      <!-- Botón abrir menú mobile -->
      <div
        id="openMenu"
        class="flex flex-col items-end justify-center w-6 h-6 ml-4 cursor-pointer sm:hidden"
      >
        <svg
          class="w-8 h-8 dark:text-neutral-200"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path d="M4 8h16M4 16h16"></path>
        </svg>
      </div>

      <!-- Botón cerrar menú mobile -->
      <div
        id="closeMenu"
        class="flex flex-col items-end justify-center w-6 h-6 ml-4 -translate-x-1 cursor-pointer sm:hidden"
      >
        <svg
          class="w-6 h-6 text-neutral-600 dark:text-neutral-200"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </div>

      <!-- Menú de navegación -->
      <div
        id="menu"
        class="fixed top-[75px] ease-out duration-300 sm:top-0 w-full left-0 sm:py-0 pt-7 pb-4 z-40 flex-col items-end justify-start hidden sm:relative sm:flex-row sm:flex sm:w-auto"
      >
        <!-- Fondo blur para mobile -->
        <div class="absolute inset-0 sm:hidden px-3">
          <div
            class="relative w-full h-full bg-white border border-dashed border-neutral-300 dark:border-neutral-700 backdrop-blur-sm rounded-xl dark:bg-neutral-950"
          >
          </div>
        </div>

        {
          menus.map((menu) => (
            <a
              href={menu.url}
              class="relative flex items-center justify-center w-full px-3 py-2 font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"
            >
              {menu.name}
            </a>
          ))
        }
      </div>
    </nav>
  </div>
</header>
