---
import { Image } from 'astro:assets'
---

<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <Image
    src="/assets/logo/logo_light.svg"
    alt="Logo Light"
    class="block dark:hidden"
    width="160"
    height="29"
    loading="eager"
  />
  <Image
    src="/assets/logo/logo_dark.svg"
    alt="Logo Dark"
    class="hidden dark:block"
    width="160"
    height="29"
    loading="eager"
  />
</a>
