<a
  href="/"
  class="flex justify-center items-center gap-2 text-black dark:text-white font-semibold"
>
  <!-- <img class="w-8 h-auto object-contain" src="/assets/favicon.png" /> -->
  <!-- Logo Text -->
  <!-- <span>Brian Domínguez Vázquez</span> -->
  <span>《Brian》</span>
</a>
