---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script is:inline>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>
    <link rel="stylesheet" href="https://use.typekit.net/lap0far.css" />
    <script src="../assets/css/main.css"></script>
  </head>
  <body
    class="bg-white dark:bg-neutral-950 text-black dark:text-white h-screen overflow-hidden"
  >
    <SquareLines />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
  </body>
</html>
